<!DOCTYPE html>
<html>
    <head>
        <title>Chat</title>
    </head>
    <body>
        <h1>WebSocket Chat</h1>
        <input type="text" id="token"/>
        <button onClick="auth(event)">Send</button>
        <button onClick="sendData(event)">Send Data</button>
        <ul id='messages'>
        </ul>
        <script>
            
            function auth(event) {
                var input = document.getElementById("token")
                ws = new WebSocket(`ws://localhost:8000/workout_session?token=${input.value}`);
                
                ws.onopen = function(event) {
                    var jsonData = {
                        token: input.value
                    };
                    ws.send(JSON.stringify(jsonData))
                }

                ws.onmessage = function(res) {
                    var data = JSON.parse(res.data)
                    console.log(data)
                    // var messages = document.getElementById('messages')
                    // var message = document.createElement('li')
                    // var content = document.createTextNode(event.data)
                    // message.appendChild(content)
                    // messages.appendChild(message)
                };
                input.value = ''
                event.preventDefault()
            }

        </script>
    </body>
</html>