<!DOCTYPE html>
<html>
    <head>
        <title>Chat</title>
    </head>
    <body>
        <h1>WebSocket Chat</h1>
        <input type="text" id="token"/>
        <button onClick="sendMessage(event)">Send</button>
        <ul id='messages'>
        </ul>
        <script>
            
            function sendMessage(event) {
                var input = document.getElementById("token")
                console.log(input.value)
                var ws = new WebSocket(`ws://localhost:8000/workout_session?token=${input.value}`);
                ws.onmessage = function(event) {
                    var messages = document.getElementById('messages')
                    var message = document.createElement('li')
                    var content = document.createTextNode(event.data)
                    message.appendChild(content)
                    messages.appendChild(message)
                };
                ws.onopen = function(event) {
                    console.log('Connected')
                    var jsonData = {
                        token: input.value
                    };
                    ws.send(JSON.stringify(jsonData))
                }
                input.value = ''
                event.preventDefault()
            }
        </script>
    </body>
</html>